
@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<div class="doctor container">
    <h4>Dr. Steve Jobs</h4>
     <ul>
         <li>
             <a href="mailto:sjobs@ams.org">email: sjobs@ams.org</a>
         </li>
         <li>
             Specialty: Cardiology
         </li>
     </ul>
    <img src="~/Content/Pictures/kev.jpg.jpg" alt="Dr. Steve Jobs" height="350" width="350"/>
    
</div>

<div class="doctor container">
    <h4>Dr. Kevin York</h4>
    <ul>
        <li>
            <a href="mailto:kyork@ams.org">email: kyork@ams.org</a>
        </li>
        <li>
            Specialty: Chiropractor
        </li>
    </ul>
    <img src="~/Content/Pictures/york.jpg" alt="Dr. Kevin York" height="350" width="350" />
</div>

<div class="doctor container">
    <h4>Dr. Huge Jackman</h4>
    <ul>
        <li>
            <a href="mailto:hjackman@ams.org">email: hjackman@ams.org</a>
        </li>
        <li>
            Specialty: Podiatrist
        </li>
    </ul>
    <img src="~/Content/Pictures/jazz.jpg" alt="Dr. Huge Jazz" height="350" width="350" />
</div>